:root {
    --numDays: 5;
    --numHours: 7;
    --timeHeight: 60px;
    --calBgColor: #EDEDED;
    /* --eventBorderColor: #f2d3d8; */
    --eventColor1: #7abf9c;
    --eventColor2: #a3c182;
    --eventColor3: #70a0ae;
  }

  .title-calendar {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 150px 40px 50px 40px;
  }

  h1 {
    font-size: 50px;
  }

  h3 {
    font-size: 15px;
  }

  .section-calendar {
    margin: 0px 75px;
  }
  
  .calendar {
    display: grid;
    gap: 10px;
    grid-template-columns: auto 1fr;
    margin: 2rem;
  }
  
  .timeline {
    display: grid;
    grid-template-rows: repeat(var(--numHours), var(--timeHeight));
  }
  
  .days {
    display: grid;
    grid-column: 2;
    gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }

  .events div p {
    color: #fefdfb;
  }
  
  .events {
    display: grid;
    grid-template-rows: repeat(var(--numHours), var(--timeHeight));
    border-radius: 5px;
    background: var(--calBgColor);
    border: solid 1px #CFCFCF;
  }
  
  .start-4 {
    grid-row-start: 2;
  }
  
  
  .end-8 {
    grid-row-end: 6;
  }
  
  .end-9 {
    grid-row-end: 7;
  }
  
  .title {
    font-weight: 600;
    margin-bottom: 0.25rem;
  }
  
  .event {
    /* border: 1px solid var(--eventBorderColor); */
    border-radius: 5px;
    padding: 0.5rem;
    margin: 0 0.5rem;
    background: white;
  }
  
  .space,
  .date {
    height: 60px
  }
  
  body {
    font-family: system-ui, sans-serif;
  }
  
  .final {
    background: var(--eventColor1);
  }
  
  .primer-dia {
    background: var(--eventColor2);
  }
  
  .dias-reto {
    background: var(--eventColor3);
  }
  
  .date {
    display: flex;
    gap: 1em;
  }
  
  .date-num {
    font-size: 3rem;
    font-weight: 600;
    display: inline;
  }
  
  .date-day {
    display: inline;
    font-size: 3rem;
    font-weight: 100;
  }

  @media screen and (max-width: 900px) {
    .section-calendar {
      margin: 50px 0px;
    }

    .days {
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr))
    }

    .date {
      height: auto;
    }

    .time-marker {
      font-size: 15px;
    }

    p.date-num, p.date-day {
      font-size: 25px;
    }

    .event {
      font-size: 12px;
    }
  }

  @media screen and (max-width: 600px) {
    .calendar {
      margin: 10px 4px;
      gap: 2px;
    }

    .intro h3 {
      width: auto;
    }

    .days {
      grid-template-columns: repeat(auto-fit, minmax(65px, 1fr))
    }

    .time-marker {
      font-size: 12px;
    }

    p.date-num, p.date-day {
      font-size: 20px;
    }

    .event {
      font-size: 9px;
      margin: 2px;
      padding: 5px;
    }

    .date {
      gap: 0.5em;
    }

    :root {
      width: max-content;
      --timeHeight: 45px;
    }
  }