:root {
    --color1: #296bad;
    --color2: #97C575;
    --color3: #ffe600;
    --fontColor1: #000000;
    --fontColor2: #fefdfb;
}

html, body {
    z-index: 0;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: var(--fontColor1);
}

/* Nav */

.logo {
    display: flex;
    align-items: center;
}

.logo-img {
    width: 80px; /* Set the width */
    height: auto;
}

.nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    /* Stick to top */
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

#nav-change {
    background-color: transparent;
}

#nav {
    background: rgb(9,77,145);
    background: linear-gradient(36deg, #094d91 0%, rgba(146,189,87,0.6) 100%);
}

.nav-scrolled {
    background: rgb(9,77,145);
    background: linear-gradient(36deg, #094d91 0%, rgba(146,189,87,0.6) 100%);
}

.nav-links {
    display: flex;
    text-align: right;
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding-left: 12px;
}

.nav-links a {
    cursor: pointer;
    font-size: 16px;
    border-radius: 20px;
    padding: 5px 13px;
    transition: 0.3s;
}

.nav-button {
    color: var(--fontColor2);
}

.nav-button:hover {
    background-color: #cecece52;
}

.form-button {
    border: 1.5px solid var(--fontColor2);
    color: var(--fontColor2);
}

.form-button:hover {
    background-color: var(--fontColor2);
    color: var(--color2);
}

.fas {
    color: var(--fontColor2);
}

/* Normal Screen */
.icon-class {
    display: none;
}

/* Small Screen */

@media screen and (max-width: 650px) {

    .nav-links {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        right: -100%;
        width: 100%;
        height: 100vh;
        background-color: #ffffffe0;
        transition: 0.3s;
        padding: 5% 2%;
    }

    .nav-links li {
        margin-bottom: 10%;
    }

    .nav-links li a {
        font-size: 25px;
    }

    .nav-button {
        color: var(--color1);
    }

    .nav-button:hover {
        background-color: #cecece52;
    }
    
    .form-button {
        background-color: var(--color1);
        color: var(--fontColor2);
    }
    
    .form-button:hover {
        background-color: #51a5d5;
        color: var(--fontColor2);
    }
    

    .open {
        right: 0%;
    }

    .icon-class {
        display: flex;
    }
}

/* Header */
.header {
    /* position: fixed; */
    height: 100vh;
    width: 100%;
    z-index: 1;
    background: rgb(9,77,145);
    background: linear-gradient(36deg, #094d91 0%, rgba(146,189,87,1) 100%); 
}

.header-body {
    z-index: 2;
    width: 90%;
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translate(-50%,-40%);
    display: flex;
    flex-direction: row;
}

.titles {
    top: 40%;
    left: 0%;
    transform: translate(0%,20%);
    text-align: left;
}

.titles h1 {
    font-weight: 500;
    font-size: 101px;
    color: var(--fontColor2);
}

.titles p {
    font-weight: 200;
    font-size: 20px;
    margin-bottom: 25px;
    color: var(--fontColor2);
}

.header-img {
    z-index: 1;
}

/* Second section */

.second-section {
    /* min-height: 100vh; */
    margin: 10px;
    align-items: center;
    justify-content: center;
    padding: 7% 0 0 0;
}

.second-section h2 {
    margin-bottom: 25px;
    margin-top: 25px;
    font-weight: 400;
    font-size: 40px;
    color: var(--color1);
}

.second-section-respuesta {
    margin-bottom: 20px;
    padding: 0 7% 0 7%;
}

.second-section h2, .second-section p {
    text-align: center;
}

.second-section div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin: 10px;
}

.second-section div div {
    display: flex;
    flex: 1;
    flex-direction: column;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 3%;
    align-items: center;
    justify-content: center;

    transition: transform 0.3s;
}

.container:hover{
    transform: scale(1.05); 
}

.container p {
    margin: 10px 0 10px 0;
    text-align: left;
}

.container h3 {
    font-weight: 400;
    color: var(--color1);
}

.container button {
    font-weight: 300;
    font-size: 14px;
    border: none;
    border-radius: 8px;
    padding: 5px 10px 5px 10px;
    background-color: var(--color1);
}

.container button:hover {
    background-color: #6c99c6;
}

.container button a {
    color: var(--fontColor2);
}

/* Third section */

.third-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px 0 50px 0;
}

.third-section h2 {
    font-weight: 400;
    font-size: 40px;
    color: var(--color1);
}

.third-section button {
    font-weight: 300;
    font-size: 16px;
    border: none;
    border-radius: 15px;
    padding: 8px 15px 8px 15px;
    background-color: var(--color1);
}

.third-section button:hover {
    background-color: #6c99c6;
}

.third-section button a {
    color: var(--fontColor2);
}

.third-section p {
    margin: 20px 0 20px 0;
    padding: 0 7% 0 7%;
    text-align: center;
}

/* Responsive of all sections */

@media screen and (max-width: 1000px) {
    .titles h1 {
        font-size: 80px;
    }
    
    .titles p {
        font-size: 15px;
    }

}

@media screen and (max-width: 700px) {
    .titles h1 {
        font-size: 50px;
    }
    
    .titles p {
        font-size: 15px;
    }

    .second-section div {
        flex-direction: column;
    }

    .second-section-pregunta, .third-section h2 {
        font-size: 30px;
    }

    .second-section-respuesta, .third-section p {
        padding: 0 8px 0 8px;
    }

    .container p, .second-section p, .third-section p {
        font-size: 13px;
    }
    
    .container h3 {
        font-size: 15px;
    }

    .container button {
        font-size: 10px;
    }

    .second-section div {
        align-items: center;
    }

    .third-section button {
        font-weight: 200;
        font-size: 15px;
        border-radius: 10px;
        padding: 5px 10px 5px 10px;
    }
}

/* Footer */

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;

    min-height: 30vh;
    width: 100%;
    column-gap: 10px;
    background-color: #094d91B0;
    /* background: linear-gradient(36deg, #094d91 0%, rgba(146,189,87,1) 100%); */
}

.footer-socials {
    display: flex;
    flex-direction: column;
    
    align-items: center;
    width: 190px;
}

.footer-title {
    margin: 10px 0px;
    font-size: 1.3rem;
    text-align: center;
    font-weight: 600;
    color: var(--fontColor2);
}

@media (min-width: 1000px) {
    /*.footer-socials li{
        display: inline-block;
        margin-right: 10px;
    }*/
    /*.footer-socials {
        width: 60%;
        max-width: 700px;
    }*/
}

@media (max-width: 600px) {
    .footer {
        flex-direction: column;
        align-items:center;
        row-gap: 20px;
    }
}
.vl {
    margin: 20px 10px;
    border-left: 6px solid white;
    height: 30vh;
  }

.logos {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

.footer-socials li {
    list-style: none;
    margin-top: 5px; 
}

.socials-div ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.socials-div li{
    
    font-weight: bold;
    display: inline;
    font-size: 1rem;
    align-items: center;
}

.footer-socials li a {
    color: var(--fontColor2);
    opacity: 80%;
    font-size: 1.2rem
}

.socials-div li a {
    font-size: 1rem;
}

.fa {
    scale: 1.5;
}


.acm-logo {
    position: relative;
    top: -30px;
    width: 140px;
}

.makers-logo {
    position: relative;
    top: 10px;
    width: 140px
    
}
.logo-cover {
    height: 90px; 
}

.x-logo {
    position: relative;
    top: 1px
}
