/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --color1: #f8f7f3;
    --color2: #3a78ef;
    --color3: #ffc838;
    --color4: #74a990;
    --fontColor1: #000000;
    --fontColor2: #fefdfb;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: var(--fontColor1);
}

.header {
    min-height: 100vh;
    width: 100%;
}

/* Nav */

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    display: flex;
    text-align: right;
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 8px 12px;
}

.nav-links a {
    cursor: pointer;
    font-size: 16px;
    border-radius: 20px;
    padding: 6px 12px;
    transition: 0.3s;
}

.nav-button:hover {
    background-color: #cecece;
}

.form-button {
    color: var(--fontColor2);
    background-color: var(--fontColor1);
}

.form-button:hover {
    background-color: #767676;
}

/* Header body */

.header-body {
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-40%);
    display: flex;
    flex-direction: row;
}

.titles {
    top: 40%;
    left: 0%;
    transform: translate(0%,20%);
    text-align: left;
}

.titles h1 {
    font-weight: 500;
    font-size: 70px;
}

.titles p {
    font-weight: 200;
    font-size: 15px;
    margin-bottom: 25px;
}

/* Second section */

.second-section {
    min-height: 100vh;
    width: 100%;
}


/* Third section */

.third-section {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/robot.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
}

/* Footer */
.footer * {
}
.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;

    min-height: 30vh;
    width: 100%;
    column-gap: 10px;
    background-color: var(--color1);
    
    
}
.footer-socials {
   
    display: flex;
    flex-direction: column;
    
    align-items: center;
    width: 190px;
    
   

}
.footer-title {
    margin: 10px 0px;
    font-size: 1.3rem;
    text-align: center;
    font-weight: 600;
}

@media (min-width: 1000px) {
    /*.footer-socials li{
        display: inline-block;
        margin-right: 10px;
    }*/
    /*.footer-socials {
        width: 60%;
        max-width: 700px;
    }*/
}

@media (max-width: 600px) {
    .footer {
        flex-direction: column;
        align-items:center;
        row-gap: 20px;
    }
}
.vl {
    margin: 20px 10px;
    border-left: 6px solid white;
    height: 30vh;
  }

  .logos {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  

.footer-socials li {
    list-style: none;
    margin-top: 5px;
    

    
}
.socials-div ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.socials-div li{
    
    font-weight: bold;
    display: inline;
    font-size: 1rem;
    align-items: center;
}

.footer-socials li a {
    color: var(--fontColor1);
    opacity: 80%;
    font-size: 1.2rem
}

.socials-div li a {
    font-size: 1rem;
}

.fa {
    scale: 1.5;
}


.acm-logo {
    position: relative;
    top: -30px;
    width: 140px;
}

.makers-logo {
    position: relative;
    top: 10px;
    width: 140px
    
}
.logo-cover {
    height: 90px
    
}

.x-logo {
    position: relative;
    top: 1px
}
