main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgb(255,255,255);
    background: linear-gradient(149deg, rgba(255,255,255,1) 0%, rgba(218,218,226,1) 100%);
}

/* Nav */

nav {
    width: calc(100vw - 12%); /* Adjust the width to account for the padding */
    margin: 0 auto; /* Center the nav if it's smaller than 100vw */
    padding: 2% 6%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box; /* Include padding in the width calculation */
}

nav a {
    text-decoration: none; /* Remove underline from links */
    display: flex; /* Ensure the padding and background color is applied correctly */
    cursor: pointer;
    font-size: 16px;
    padding: 6px 12px;
    transition: 0.3s;
    color: #000; /* Change the text color as needed */
    border-radius: 20px; /* Optional, if you want this style for the logo as well */
}

.nav-links li a {
    margin: 0 5px; /* Add some space between items */
}

/* You might want to add a specific style for the logo if it's meant to stand out or be larger */
nav > a { /* Direct child selector for the "ORC" link */
    font-weight: bold; /* Example property to make the logo stand out */
    padding: 8px 16px; /* Example padding, adjust as necessary */
}

.nav-links a:hover,
nav > a:hover { /* Hover effect for both nav links and the "ORC" link */
    background-color: #cecece;
}


.nav-links {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: 0; /* Reset any default margins */
    padding: 0; /* Reset any default padding */
}

.nav-links li {
    padding: 8px 12px; /* Adjust padding as needed */
    margin: 0 5px; /* Add some space between items */
}

.nav-links a {
    text-decoration: none; /* Remove underline from links */
    display: flex; /* Ensure the padding and background color is applied correctly */
    cursor: pointer;
    font-size: 16px;
    border-radius: 20px;
    padding: 6px 12px;
    transition: 0.3s;
    color: #000; /* Change the text color as needed */
}

.nav-button:hover,
.nav-links a:hover {
    background-color: #cecece; /* Hover effect for both nav buttons and links */
}

/* Add this to reset any default styles that may affect the layout */
* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box; /* Apply border-box to all elements */
}

#desktop {
    display: flex;
}

.ESLAIDER {
    display: flex;
    max-width: 1350px;
    height: 600px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 20px;
}
.imagensita {
    position: absolute;
    left: 0;
    right: 0;
    margin-top: 0;
    height: 50px;
    opacity: 0;
    transition: 0.2s;
    box-shadow: 0px 0px 10px;
}

.imagensita.c {
    right: 0;
    left: 0;
    height: 600px;
    margin-top: 0;
    z-index: 10;
    opacity: 1;
}
.imagensita.h {
    right: 0;
    left: 0;
    height: 500px;
    margin-top: 50px;
    opacity: 0;
    z-index: 0;
}
.imagensita.l {
    right: 40%;
    height: 500px;
    margin-top: 50px;
    opacity: 0.65;
}
.imagensita.r {
    left: 40%;
    height: 500px;
    margin-top: 50px;
    opacity: 0.65;
}

#mobile {
    display: none;
    position: relative;
    height: auto;
    overflow: auto;
    background-color: transparent;
}

.section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    top: 100vh;
    position: absolute;
    z-index: 1;
}

#mobile > .section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: auto;
    top: auto;
    position: relative;
    z-index: 1;
}

#mobile > .section > .right-equipo {
    height: auto;
}

#mobile > .section:first-of-type > .left-equipo {
    margin-top: 12rem;
}

#mobile > .section > .left-equipo {
    margin-top: 6rem;
}

.background {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgb(255,255,255);
    background: linear-gradient(149deg, rgba(255,255,255,1) 0%, rgba(218,218,226,1) 100%);
    z-index: 0;
}

#s1 {
    top: 0;
}

.back-text {
    position: fixed;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #0f0f0f15;
    font-size: 50rem;
    margin: 0;
    z-index: 1;
    font-weight: 500;
    bottom: -20rem;
    right: -30rem;
}

.left-equipo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 11rem;
    height: 8.4rem;
}

.left-equipo > p {
    width: 40%;
    font-size: 1.5rem;
    font-weight: 200;
    line-height: 1.8rem;
    text-align: center;
    margin: 0;
    margin-top: 1rem;
}

.right-equipo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 16rem);
    margin-top: 2.5rem;
    padding: 0 15rem;
}

h1 {
    font-size: 5.5rem;
    margin: 0;
    margin-top: -.5rem;
    margin-bottom: 0rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    background: rgb(13,43,89); 
    background: linear-gradient(149deg, rgba(13,43,89,1) 0%, rgba(36,123,160,1) 100%); 
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    z-index: 3;
}

h2 {
    margin: 0;
    font-size: 1.8rem;
    font-weight: 200;
    text-align: center;
    z-index: 3;
}

.equipo-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.logo-subsistema {
    position: absolute;
    top: 12rem;
    left: 4.5rem;
    width: 4.5rem;
    z-index: 2;
    background: rgb(170,78,47);
    background: linear-gradient(149deg, rgba(170,78,47,1) 0%, rgba(71,72,117,1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.app-miembro {
    margin: 0 3.2rem 1rem 3.2rem;
}

.big-team > .app-miembro {
    margin: 0 3rem 1rem 3rem;
}

@media all and (max-width: 1300px) {
    .imagensita.l, .imagensita.r {
        height: 400px;
    }
    .imagensita.c, .imagensita.h, .ESLAIDER {
        height: 500px;
    }
}

@media all and (max-width: 1000px) {
    .imagensita.l, .imagensita.r {
        height: 300px;
    }
    .imagensita.c, .ESLAIDER {
        height: 400px;
    }
    .imagensita.h {
        height: 300px;
    }
}

@media all and (max-width: 800px) {
    .imagensita.l, .imagensita.r {
        height: 200px;
    }
    .imagensita.c, .imagensita.h, .ESLAIDER {
        height: 300px;
    }
}

@media only screen and (max-width: 1200px) {
    .left-equipo > p {
        display: none;
    }

    .logo-subsistema {
        display: none;
    }

    .right-equipo {
        display: flex;
        justify-content: center;
        align-items: center;
        height: calc(100vh - 10rem);
        margin-top: 1rem;
        padding: 0 2rem;
    }

    h1 {
        font-size: 5rem;
        margin-top: -.5rem;
    }
}

@media only screen and (max-width: 985px) {
    #desktop {
        display: none;
    }

    #mobile {
        display: flex;
    }
}

@media all and (max-width: 600px) {
    .imagensita.l, .imagensita.r {
        height: 150px;
        margin-top: 25px;
    }
    .imagensita.c, .imagensita.h, .ESLAIDER{
        height: 200px;
    }
  }
  .imagensita.r:hover {
      left: 45%;
      cursor: pointer;
      opacity: 0.8;
  }
  .imagensita.l:hover {
      right: 45%;
      cursor: pointer;
      opacity: 0.8;
  }
